<h1>卡片列表</h1>

<%= link_to  "新增卡片", new_card_path%>

<%@cards.each do |card|%>
<div class="card">
      <h2><%= card.title%></h2>
      <%=link_to "編輯",edit_card_path(card)%>
      <%=link_to "刪除","#"%>
      <div class="crad_body">
            <p><%= card.content%></p>
      </div>
</div>
<%end%>