<h4>SHOW</h4>
<div class="card">
  
  <header class="card_title">
    <%=@card.title%>
    <a href="#" class="like_btn" data-card-id="<%= @card.id %>" >
    <i class="far fa-thumbs-up"></i>
    </a>  
  </header>
  <div class="crad_body">
    <p><%=@card.content%></p>
  </div>
</div>

<hr>
<%=form_for @comment,url:card_comments_path(@card),remote: true do |f| %>
<%=f.text_area :content %>
<%=f.submit%>
<%end%>

<ul class="comments">
  <%= render @comments %>

</ul>